# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Jupyter
.ipynb_checkpoints/

# Testing / linting caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build / dist
dist/
build/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db
